<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.hotel.biz.mapper.JoinMapper">
	<!-- 회원가입  -->
    <insert id="HotelJoin">
    	INSERT INTO MEMBER (id, pw, name, phone, email) 
    	VALUES (#{id},#{pw},#{name},#{phone},#{email})
    </insert>
    
    <!-- 중복체크  -->
    <select id="idCheck" resultType="String"> 
    SELECT count(*) from MEMBER WHERE id=#{id}
     </select>
     
    <!-- 비밀번호 체크 -->
    <select id="login" resultType="com.hotel.biz.VO.MemberVO">
    	select * FROM MEMBER WHERE id = #{id} AND pw = #{pw}
    </select>
    
    <!-- 마이페이지  -->
    <select id="mypage" resultType="com.hotel.biz.VO.MemberVO">
    	select * from MEMBER where id = #{id};
    </select>
    
    <!-- 개인정보 수정  -->
    <update id="updateuser">
        UPDATE MEMBER SET pw=#{pw}, name=#{name}, email=#{email}, phone=#{phone}
        WHERE id = #{id};
    </update>
    
    <!-- 회원 탈퇴  -->
    <delete id="deleteuser">
    	DELETE FROM MEMBER WHERE id=#{id} AND pw=#{pw};
    </delete>
     
    
    
</mapper>
